* {
  border-collapse: collapse;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #ffffff;
}

.wrapper {
  width: 100%;
  padding-bottom: 60px;
}

.main {
  margin: 0 auto;
  width: 100%;
  max-width: 600px;
  border-spacing: 0;
  font-family: Arial, Helvetica, sans-serif;
  color: #171a1b;
}

.main-img {
  height: 40vh;
  width: 100%;
}

.two-columns {
  text-align: center;
  display: inline;
  margin: 0 auto;
}

.two-columns .column {
  width: 100%;
  max-width: 300px;
  display: inline;
  vertical-align: top;
  margin: 0 auto;
}

.four-columns-socials {
  width: 70%;
  margin: 0 auto;
}
.column-social {
  display: inline;
  margin: 0 auto;
}

.info-section td {
  width: 300px;
}

/* media queries*/
/*phone*/

/*ipad*/
@media (max-width: 550px) {
  p {
    color: blue;
  }
  .hide-when-responsive {
    display: none;
  }
  .show-column-when-responsive {
    display: block !important;
  }
}
